//- For any general aricle about matters, with details > summary structure
extends ../layout 

block content
  style.
    main {
        padding-top: var(--navBar-height)
    }
  main
    h1 A very interesting title
    p The content of the article. This should be use for instructions, guide, and other stuff that suitable for a long section of text
    details
        summary A section to highlight necessary stuff
        p This is the content, should be in a p tag in order to get the highlightm, I will change it later.
    p Nav blocks can be use to redirect users to other related articles
