//- For any general aricle about matters, with details > summary structure
extends ../layout 

block content
    style.
        main {
            padding-top: var(--navBar-height)
        }
    main
        h1 A very interesting title
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem similique necessitatibus pariatur sit, cumque facilis inventore, dolorum eius, nihil reprehenderit a dolorem obcaecati deserunt amet suscipit tenetur veniam. Ipsam, adipisci?
        details
            summary Lorem ipsum dolor sit
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem explicabo architecto esse sed quos, totam velit ad perferendis. Nobis necessitatibus id saepe, iste unde optio reprehenderit. Doloremque similique animi tempora!