:root {
  --color-fg: black;
  --color-section: #D7DAE5;
  --color-section2: #B8DBD9;
  --color-highlight: #CB7943;
  --color-bg: #ffffff;
  --color-theme: #4B7B8F;
  --color-warn: #E63946;
  --color-green: #70EE9C;

  --navBar-height: 2rem;
}
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  padding-top: var(--navBar-height);
  margin: 0;
  overflow-x: hidden;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--color-fg);
  background-color: var(--color-bg);
}

nav {
  position: absolute;
  top: 0; right: 0; left: 0;
  height: var(--navBar-height);
  background-color: var(--color-section);
}
nav > * {
  margin-top: 0;
  float: left;
}
nav > a {
  height: 100%;
}

#navButton {
  position: fixed;
  top: 0; left: 0;
  z-index: 2;
  height: 2rem;
  font-size: 20px;
  text-align: center;
}

main {
  padding: 0 5vw;
}

a {
  color: var(--color-theme);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-theme);
}

input, textarea {
  outline: none;
  border: 1px solid var(--color-highlight);
  color: var(--color-fg);
  background-color: var(--color-bg);
}

button {
  border: 0;
  color: var(--color-fg);
  background-color: var(--color-section);
}
button:hover {
  background-color: var(--color-theme);
}

img {
  max-width: 100%;
  max-height: 100%;
}

code {
  color: var(--color-highlight);
}

footer {
  background-color: var(--color-section);
}

details {
  width: 100%;
}
details > summary {
  padding: 2px 6px;
  width: 100%;
  background-color: var(--color-section2);
  font-size: large;
  font-weight: bold;
  border-left: 5px solid var(--color-theme);
  cursor: pointer;
}
details > p {
  padding: 2px 6px;
  margin: 0;
  border-left: 5px solid var(--color-theme);
  background-color: var(--color-section);
}

blockquote {
  margin: 0;
  padding: 1rem 1rem;
  border-left: 5px solid var(--color-theme);
  background: var(--color-section);
}
/* blockquote::before, blockquote::after {
  font-size: xx-large;
  content: '"';
} */

/* Classes */
.warning {
  color: var(--color-warn);
}

/* This is for a list of links and its inner content of a page */
.navBlock {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
.navBlock > div {
  width: 23%;
}
.navBlock > div > a {
  font-size: larger;
}
.navBlock > div > p {
  margin: 0;
}
