extends ../layout 

block content
  main
    h1 Our people, culture, and history
    h2 People and demographic
    p Most of the Bayer citizens are Vietnamese. However, almost everybody understand English and using it fulently, so English is the language of communication in the Bayer Free State. The government also use English to write laws and make public announcement.
    p We believe in diversity and understand that everybody are unique. No matter what is your race, gender, identity, creed, or belief, we welcome everybody and invite everybody to do the same.
    h2 Culture 
    p Most of our culture revolve around the internet meme culture. Many of our citizens will be impress by rick rolling them successfully, so good luck!
    h2 History
    p Peter and Luke already made an elaborate and accurate history "book" which you can find <a href="https://docs.google.com/document/d/1cN7I0VmM65vozLc9jxpz3BaNJLYEfad5pbKuJeqoz2g/edit">here</a>.
    p Understanding that keeping and maintaining our history is important, many governmental files were archived either on Github or a dedicated Discord channel.