extends ../layout 

block content
  main
    h1 The government of the Bayer Free State
    p The government have the responsibility to serve the people, maintain peace, and ensuring the wellbeing of Bayer citizens. Our government is divided into 3 main branches: legislative, executive, and judicial.
    h2 Government offices
    div(class="navBlock")
      div
        a(href="/government/parliament") Parliament
        p With the power to create laws, Members of Parliament are elected every 4 months and represents the people from many background.
      div
        a(href="") The Head of State
        p The Head of State office is one of the most important position in the State, with the power shared with the Prime Minister, they ensure the laws are being followed.
      div
        a(href="") The Prime Minister
        p The Prime Minister have the important job to maintain administrative stability and leading the government to serve the citizens.
      div
        a(href="") Election Commission
        p Administer elections in all level of the government, the Commission uses many specialized tools to ensure transparency and represent true democracy.
      div
        a(href="") The Court of Justice
        p The major actice court of the Bayer Free State, helps maintaining equality and justice for everybody.
      div
        a(href="") The Chief Justice
        p Appointed by the Parliament, Chief Justice hear all of the court cases in the Court of Justice.
    h2 Fidelissma
    p The government structure of Fidelissma is different, but it still work on the same principle and expectation with the State government.
    div(class="navBlock")
      div
        a(href="") The Council of Fidelissma
        p The Council with legislaive, executive, and judicial power to oversee one of the most important posession of the Bayer Free State.
