extends ../layout

block content
    //- Pictures of the parliament
    main
        h1 The Parliament of the Bayer Free State
        p Members of Parliament elected represent Bayerians to pass laws that enhance people lives.
        h2 How MPs were elected
        p Every 4 months, a Parliament election will be start and monitor by the Election Commission. Candidates will have at least 5 days to campaign before the poll start. Using Single Tranferable Vote, voters will rank the candidates from most preferable to least preferable. Surplus ballots will be "transfer" to the candidates until all seats are filled.
