extends ../layout 

block content
  main
    h1 Elections
    blockquote An election is a formal group decision-making process by which a population chooses an individual or multiple individuals to hold public office. 
    p Election is one of the most important aspect of democracy. Without a transparent and equal election, people's opinion won't be heard correctly. That's why we have the Election Comission with the power from the Constitution to administer all of the elections in the Bayer Free State.
    h2 The basic of the ballots
    p One of the most important aspect of elections in the Bayer Free State is using progressive and mathematically proven to be able to represent citizens' opinion in the most accurate way. Most of our elections will use ranked voting to ensure citizens can cast their ballot to many candidates without having to strategically change their ballots.
    h2 Elections and requirement
    p These elections are for every person attained the age of 13 to participate in (include voting and becoming a candidate):
    details
      summary Head of State election
      p Every year, the Constitution requires the Head of State to be elected using Instant Runoff Voting.
      p Because the Head of State keeps the ownership of the guild and having the absolute power in Discord, the Constitution set up a very high standard to qualify as a candidate:
      ul
        li be a Bayer citizen for at least 16 out of 18 months before taking the office
        li never been convicted of any major criminal offense within 6 months
        li no allegiance to a foreign state
    details
      summary Parliamentary election
      p Every four months, the Constitution requires the Members of Parliament to be elected using Single Transferable Voting. After the Parliament was elected, MPs will start to appoint the Prime Minister to be the head of Government. 
      p to be qualify as a candidate, the person must be a Bayer citizen for at least 4 out of 6 months before taking the office.
    p These election are exclusively for Fidelissma citizens:
    details
      summary Fidelissma Council election