extends ../layout 

block content
  main
    h1 Elections
    blockquote An election is a formal group decision-making process by which a population chooses an individual or multiple individuals to hold public office. 
    p Election is one of the most important aspect of democracy. Without a transparent and equal election, people's opinion won't be heard correctly. That's why we have the Election Comission with the power from the Constitution to administer all of the elections in the Bayer Free State.
    h2 The basic of the ballots
    p One of the most important aspect of elections in the Bayer Free State is using progressive and mathematically proven to be able to represent citizens' opinion in the most accurate way. Most of our elections will use ranked voting to ensure citizens can cast their ballot to many candidates without having to strategically change their ballots.
    h2 Election list
    details
      summary Head of State election
      p Every year, the Constitution requires the Head of State to be elected using Instant Runoff Voting.
    details
      summary Parliamentary election
      p Every year, the Constitution requires the Members of Parliament to be elected using Single Transferable Voting. After the Parliament was elected, MPs will start to appoint the Prime Minister to be the head of Government. 